<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/add}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" name="name" id="name"/>

    <label for="lastname">Enter lastname:</label>
    <input type="text" name="lastname" id="lastname">

    <label for="age">Enter age:</label>
    <input type="text" name="age" id="age">

    <label for="email">Enter email:</label>
    <input type="text" name="email" id="email">
    <br/>
    <input type="submit" value="Create"/>
</form>
<a href="/">Back</a>

</body>
</html>